TODO.txt
**/node_modules
# Intermediate workshop: Todo app solution
intermediate/workshop/todo-app/src/TodoApp-solution.js
intermediate/workshop/todo-app/src/components/TodoItem-solution.js
# Reat Patterns workshop solutions
react-patterns/workshop/src/**/solution/*
# redux
redux/workshop/src/examples/solution1/*